<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AppiumTestNG">
<parameter name="Driver" value="driver"/>
  <test name="MobileLogin">
    <classes>
    <class name=".generakApk"/>
    <!--  <class name=".Mobile"/> 
    <class name=".ApiDemos"/>  -->
    </classes>
    </test>
    
    <test name="AppWork">
    <classes>
    <class name=".generakApk"/>
    <!--  <class name=".Mobile"/> 
    <class name=".ApiDemos"/>  -->
    </classes>
    </test>
    
    <test name="WebLogin">
    <classes>
    <class name=".generakApk"> </class>
    </classes>
  </test> 
</suite> <!-- Suite -->
